<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        Instaclone
      {% endblock %}
    </title>
  <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/office/2x/instagram-new.png">
  <script src="https://kit.fontawesome.com/fb8f1c0305.js" crossorigin="anonymous"></script>
</head>
<body>
  <div style="height: 40px; background-color: lightblue; text-align: center;">This is the header</div>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <div style="height: 40px; position: absolute;bottom: 0; width: 100%;
   background-color: lightyellow; text-align: center;">This is the footer</div>

</body>
</html>