*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
}

#wrapper{
    width: 500px;
    height: 70%;
    overflow: hidden;
    border: 0px solid #0000;
    margin: 50px auto;
    padding: 10px;
}

.main-content{
    width: 250px;
    height: 280;
    border: 2px solid #e6e6e6;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
}